<body>
<form action="search#index" method="GET">
    <input type="text" name="key_word" />
    <input type="submit" />
</form>
<%if !@result.nil?
  for item in @result do%>
    <a href=<%= item[:link] %> ><%= item[:title] %></a>
    <br>
<%end
end%>
</body>